
 <!-- Upcoming Movie Section -->
 <div class="section section-padding bg-image upcomming-section text-white">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="section-header">
                  <h2 class="section-title">Phim sắp chiếu</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-9">
              <div class="upcomming-featured">
                  <img class="img-responsive" src="assets/images/movies/upcomming-featured.png" alt="Upcomming Featured">
                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                  <div class="upcomming-details">
                      <h4 class="video-title"><a href="movie-detail.html">Fright Night (2017)</a></h4>
                      <p class="video-release-on">12 Jul 2017</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-xs-12 sm-top-30">
              <div class="upcomming-item">
                  <img class="img-responsive" src="assets/images/movies/upcomming-1.png" alt="Upcomming featured">
                  <div class="upcomming-details">
                      <h4 class="video-title"><a href="movie-detail.html">Basketball</a></h4>
                      <p class="video-release-on">26 Jul 2017</p>
                  </div>
                  <div class="upcomming-hover">
                      <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                  </div>
              </div>
              <div class="upcomming-item">
                  <img class="img-responsive" src="assets/images/movies/upcomming-2.png" alt="Upcomming">
                  <div class="upcomming-details">
                      <h4 class="video-title"><a href="movie-detail.html">Expandable</a></h4>
                      <p class="video-release-on">27 Jul 2017</p>
                  </div>
                  <div class="upcomming-hover">
                      <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                  </div>
              </div>
              <div class="upcomming-item">
                  <img class="img-responsive" src="assets/images/movies/upcomming-3.png" alt="upcomming">
                  <div class="upcomming-details">
                      <h4 class="video-title"><a href="movie-detail.html">Devine Girl</a></h4>
                      <p class="video-release-on">28 Jul 2017</p>
                  </div>
                  <div class="upcomming-hover">
                      <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Upcoming Movie Section End -->