
.thumb-hover{
    width: 262px;
    height: 378px;

}
.thumb-wrap img{
    width: 262px;
    height: 379px;
}
.booking-btn{
    position: absolute;
    bottom: 0px;
    padding-left: 25%;
   

}
.thumb-wrap{
    width: 300px;
    /* height: 379px; */
}
