<div class="main-wrap" id="mainW">
  <div class="section section-padding video-list-section">
    <div class="container">
      <div class="row">    
          <div class="video-item col-md-4" *ngFor='let phim of danhSachPhim;'>
            <div class="thumb-wrap">
              <img src={{phim.HinhAnh}} alt="Movie Thumb">
              <span class="rating">{{phim.DanhGia}}</span>
              <div class="thumb-hover">
                <a class="play-video" href={{phim.Trailer}}><i class="fa fa-play"></i></a>
                
              </div>
            </div>
            <div class="video-details">
              <h4 class="video-title"><a href="movie-detail.html">{{phim.TenPhim}}</a></h4>
              <p class="video-release-on">{{phim.NgayKhoiChieu | date:'dd-MM-yyyy'}}</p>
            </div>
          </div>
          <div class="col-xs-12">
            <!-- Video Pagination -->
            <nav class="navigation pagination" role="navigation">
              <div class="nav-links">
                <span class="current-page">Page 2 of 14</span>
                <a class="prev page-numbers" href="#"><i class="fa fa-caret-left"></i></a>
                <a class="page-numbers" href="#">1</a>
                <span class="page-numbers current">2</span>
                <a class="page-numbers" href="#">3</a>
                <a class="page-numbers" href="#">4</a>
                <a class="next page-numbers" href="#"><i class="fa fa-caret-right"></i></a>
              </div>
            </nav>
            <!-- Video Pagination End -->
          </div>
        
      </div>
    </div>
  </div>
</div>