<div class="account-page">
  <div class="account-wrap">

    <a class="site-logo" href="index.html">
      <img src="../../../../../assets/images/template/logo.png" alt="Site Logo">
    </a>

    <form #frmDangKy="ngForm" class="accountform signupform" (ngSubmit)="DangKy(frmDangKy.value)" >
      <h3>Sign up, it's free..</h3>
      <div class="basic-field">
        <label>Username <br />
          <p>
            <input type="text" name="TaiKhoan"
            #taiKhoan='ngModel' ngModel required>
          </p>
        </label>
        <label>E-mail address <br />
          <p>
            <input type="email" class="form-control" name="Email"
            #email='ngModel' ngModel required>
          </p>
        </label>
        <label>Password <br />
          <p>
            <input  #matKhau="ngModel" class="form-control" name="MatKhau" ngModel type="password"required />
          </p>
        </label>
        <label>Confirm Password <br />
          <p>
            <input  #reMatKhau="ngModel" required [ngClass]="{'ng-invalid': reMatKhau.value != matKhau.value}" 
        class="form-control" name="reMatKhau" ngModel  type="password"/>
          </p>
        </label>
      </div>
      <button [disabled]="frmDangKy.invalid" type="submit" class="btn btn-success">Submit</button>

      <p class="signup-recover">Do you already have an account? <a routerLink="/dangnhap">Login here</a></p>
    </form>
  </div>
</div>