<app-header></app-header>
  <!-- Top Header End -->
  <!-- Main Header -->
<div class="main-wrap">
  <div class="section section-padding video-single-section">
    <div class="container">
      <div class="video-single">
        <div class="row">
          <div class="col-xs-12">
            <div class="thumb-wrap single-thumb">
              <img src={{phim.HinhAnh}} alt={{phim.TenPhim}} width="1140" height="317">
              <div class="thumb-hover">
                <a class="play-video" href={{phim.Trailer}}><i class="fa fa-play"></i></a>
              </div>
            </div>
            <div class="content-wrap">
              <div class="video-thumb">
                <img src={{phim.HinhAnh}} alt="Movie thumb">
              </div>
              <div class="video-details xs-top-40">
                <div class="single-section">
                  <h3 class="video-title">{{phim.TenPhim}}</h3>
                  <p class="video-release-date">{{phim.NgayKhoiChieu | date:'dd-MM-yyyy'}}</p>
                  <div class="ratings-wrap">
                    <span class="rating">10</span>
                    <div class="expanded-rating">
                      <div class="star-rating">
                        <span class="star on"></span>
                        <span class="star on"></span>
                        <span class="star on"></span>
                        <span class="star on"></span>
                        <span class="star on"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                      </div>
                      <div class="user-voted">
                        <i class="fa fa-user"></i> 150 Votes
                      </div>
                    </div>
                  </div>
                  <div class="video-attributes">
                    <p class="cast"><label>Actors:</label> Tata Tong, Megan, Carri Dummy Crud</p>
                    <p class="duration"><label>Time:</label> {{thoiLuong}} Minutes</p>
                    <p class="genre"><label>Genres:</label> Action, Drama</p>
                    <p class="country"><label>Country: </label> USA</p>
                    <p class="language"><label>Language: </label> English</p>
                  </div>
                  <div class="share-on">
                    <label>Share: </label>
                    <div class="share-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                  </div>
                </div>
                <div class="single-section video-entry">
                  <h3 class="single-section-title">Movie Story</h3>
                  <div class="section-content">
                    <p>{{phim.MoTa}}</p>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show Time -->
  <div class="showtime">
    <div class="container">
      <div class="row">
        <h3 class="display-4">Lịch chiếu</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Rạp</th>
              <th>Ngày chiếu</th>
              <th>Giờ chiếu</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lichChieu of phim.LichChieu">
              <td> {{lichChieu.Rap.TenRap}}</td>
              <td>{{lichChieu.NgayChieuGioChieu | date:'dd-MM-yyyy'}}</td>
              <td>{{lichChieu.NgayChieuGioChieu | date:'hh:mm'}}</td>
              <td><a class="btn btn-success" routerLink="/chitietphongve/{{lichChieu.MaLichChieu}}/{{phim.TenPhim}}">Đặt vé </a></td>
           
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Show Time End -->
</div>
<app-footer></app-footer>