 <!-- News -->
 <div class="section section-padding  news-section">
  <div class="container">
      <div class="row">
          <div class="col-xs-8">
              <div class="section-header">
                  <h2 class="section-title">Tin mới nhất</h2>
              </div>
          </div>
          <div class="col-xs-4">
              <a class="all-link" href="news.html">Xem tất cả</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <a class="news-featured" href="news-detail.html">
                  <img class="img-responsive" src="assets/images/news/featured-news.png" alt="Featured news thumb">
                  <span class="news-date-meta">12 Jun, 2017</span>
                  <div class="news-content">
                      <h4 class="news-title">It is a long established fact that a reader will be distracted by the readable</h4>
                  </div>
              </a>
          </div>
          <div class="col-md-6 sm-top-30">
              <div class="news-item">
                  <a class="news-thumb" href="news-detail.html">
                      <img src="assets/images/news/1.png" alt="News thumb">
                  </a>
                  <div class="news-content">
                      <span class="news-date-meta">25 Jun, 2017</span>
                      <h4 class="news-title"><a href="news-detail.html">It is a long established fact that</a></h4>
                      <p class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ut recusandae, vero voluptate expedita unde.</p>
                  </div>
              </div>
              <div class="news-item">
                  <a class="news-thumb" href="news-detail.html">
                      <img src="assets/images/news/2.png" alt="News thumb">
                  </a>
                  <div class="news-content">
                      <span class="news-date-meta">25 Jun, 2017</span>
                      <h4 class="news-title"><a href="news-detail.html">It is a long established fact that</a></h4>
                      <p class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ut recusandae, vero voluptate expedita unde.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- News End -->
