
<!-- Movie Section -->
<div class="section section-padding movie-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-xs-6">
              <div class="section-header">
                  <h2 class="section-title">Phim đang chiếu</h2>
              </div>
          </div>
          <div class="col-sm-4 col-xs-6">
              <a class="all-link" href="movie.html">See All Movies</a>
          </div>
      </div>

      <div class="row">
          <div class="owl-carousel video-carousel" id="video-carousel">
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/1.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">Wonder Women</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/2.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">Captain America</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/3.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">The City Truck</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/4.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">Dark Night 2</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/1.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">Wonder Women</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/2.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">Captain America</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/3.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">The City Truck</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
              <div class="video-item">
                  <div class="thumb-wrap">
                      <img src="assets/images/movies/4.png" alt="Movie Thumb">
                      <span class="rating">9.2</span>
                      <div class="thumb-hover">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                      </div>
                  </div>
                  <div class="video-details">
                      <h4 class="video-title"><a href="movie-detail.html">Dark Night 2</a></h4>
                      <p class="video-release-on">22 Jun 2017</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Movie Section End -->