<!-- Movie Section -->
<div class="section section-padding movie-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-6">
                <div class="section-header">
                    <h2 class="section-title">Phim đang chiếu</h2>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a class="all-link" routerLink='danhsachphim'>See All Movies</a>
            </div>
        </div>

        <div class="row">
            <div class="owl-carousel video-carousel" id="video-carousel">
                <div class="video-item" *ngFor="let phim of mangPhim">
                    <div class="thumb-wrap">
                        <img src={{phim.HinhAnh}} alt="Movie Thumb" width="263" height="390">
                        <span class="rating">{{phim.DanhGia}}</span>
                        <div class="thumb-hover">
                            <a class="play-video" href={{phim.Trailer}}><i class="fa fa-play"></i></a>
                            <div class="booking-btn">
                                <a href="#" class="btn btn-success" routerLink="/chitietphim" [queryParams]="{MaPhim:phim.MaPhim,TenPhim:phim.TenPhim}">Đặt vé</a>
                            </div>
                        </div>
                    </div>
                    <div class="video-details">
                        <div class="video-details-box">
                            <h4 class="video-title"><a href="movie-detail.html">{{phim.TenPhim}}</a></h4>
                            <p class="video-release-on">{{phim.NgayKhoiChieu | date:'dd-MM-yyyy'}}</p>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Movie Section End -->